// Colors

$brand-primary: #CCCCCC;
$brand-secondary: #3fae93;
$brand-secondary-dark : #30856F;
$brand-tertiary : #020024;


$brand-light: #ffffff;
$brand-dark: #555555;

$brand-text: #1F1F1F;

// Screen width
$max-xxs: 359px;
$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;
$max-lg: 1319px;
$min-hu: 1320px;