// Colors

$brand-primary: rgba(11, 85, 214, 0.3);
$brand-secondary: rgba(11, 85, 214, 0.9);
$brand-secondary-dark : rgba(11, 85, 214, 0.6);
$brand-tertiary : #020024;

// brandprimary : #CCCCCC
// brandsecondary : #3fae93

$brand-light: #ffffff;
$brand-dark: rgba(11, 85, 214, 0.9);

$brand-text: #1F1F1F;

// Screen width
$max-xxs: 359px;
$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;
$max-lg: 1319px;
$min-hu: 1320px;