{% extends 'layout.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <a href="{{ path('create_place') }}">Ajouter un lieu</a>
    {{ form_start(eventForm, {'attr' : {'id': 'form_event', 'data-route': path('show_places') }}) }}
    {{ form_widget(eventForm) }}
    {{ form_end(eventForm) }}

{% endblock %}
