{% extends 'layout.html.twig' %}

{% block body %}

    <div class="filterForm">
    {{ form(filterForm) }}
    </div>

    {% include 'event/list.html.twig' %}

    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
{% endblock %}
