{% extends 'layout.html.twig' %}

{% block body %}

    {% for messages in app.flashes(['success', 'error']) %}
        <div class="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h1>Hello {{ app.user.username }}! ✅</h1>
    {% endif %}


    {{ form(filterForm) }}


    {% include 'event/list.html.twig' %}

    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
</div>
{% endblock %}
