{% extends 'layout.html.twig' %}

{% block body %}

    <section class="eventsContainer">

    <div class="filterForm">
    {{ form(filterForm) }}
    </div>

    {% include 'event/list.html.twig' %}

    </section>

{% endblock %}
