{% extends 'layout.html.twig' %}

{% block body %}

    <section class="eventsContainer">

        {% include 'event/filterEvents.html.twig' %}
        {% include 'event/list.html.twig' %}

    </section>

{% endblock %}
