{% extends 'layout.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}


    {{ form_start(formview) }}
    {{ form_widget(formview) }}
    <button type="submit">Ajouter</button>
    {{ form_end(formview) }}

{% endblock %}