.btn {
  text-decoration: none;
  border: none;
  background-color: $brand-primary;
  padding: 8px 15px;
  border-radius: 10px;
  color: $brand-text;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;

  &:hover{
    background-color: $brand-dark;
    color: $brand-light;
  }
}