.navbar {
  display: flex;
  padding: 10px 60px;
  justify-content: space-between;


  &__logo {
    text-decoration: none;
    color: $brand-text;
    @extend .font-bold;
    position: relative;
    transition: all 0.3s ease;
    font-size: 30px;

    &:after {
      background-color: $brand-secondary;
      content: " ";
      height: 30%;
      position: absolute;
      left: 0;
      margin-left: -1rem;
      top: 65%;
      width: calc(100% + 2.75rem);
      z-index: -1;
      transition: all 0.3s ease;
    }

    &:hover:after {
      top: 0;
      height: 100%;

    }

    &:hover {
      color: $brand-light;
    }

  }

  &__list {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10px;
    background-color: $brand-secondary;
    z-index: 4;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

    .fas{
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 15px;
    }

    @include tablet{
      background-color: transparent;
      width: auto;
      position: static;
      font-size: 18px;
      justify-content: space-between;

      .fas{
        display: none;
      }
    }

    a {
      text-align: center;
      text-decoration: none;
      color: $brand-light;
      padding: 26px 10px 6px;
      margin: auto;
      position: relative;
      display: inline-block;

      @include tablet{
        padding: 0 15px;
        color: $brand-text;
        transition: background-size 0.4s ease;
        background: linear-gradient(to bottom, transparent 65%, $brand-secondary 0) center center/0% 75% no-repeat;


        &:hover {
          background-size: 100% 100%;
        }
      }

    }

  }
}

