.pagination{
  display: block;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 10px;

  .page, .next, .last, .first, .previous{
    a{
      color: $brand-text;
      text-decoration: none;}
    }

  .current{
      color: $brand-secondary;
  }

}