@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,300;0,400;0,600;1,400&display=swap');

.font{

  &-fira{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
  }

  &-light{
      font-weight: 100;
  }

  &-regular{
      font-weight: 400;
  }

  &-bold{
      font-weight: 700;
  }

  &-italic{
      font-style: italic;
  }

}
