@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

.font{

  &-roboto{
    font-family: 'Roboto', sans-serif;
  }

  &-light{
      font-weight: 100;
  }

  &-regular{
      font-weight: 400;
  }

  &-bold{
      font-weight: 700;
  }

  &-italic{
      font-style: italic;
  }

}
