{% extends 'layout.html.twig' %}

{% block title %}Créer une ville{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}
